<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BMI Calculator</title>
    <link rel="stylesheet" href="/static/style/style.css">
    <script src="/static/scripts/send_data.js" defer></script>
</head>
<body>
    <div class="top_bar_div">
        <h2>BMI Calculator</h2>
    </div>
    <div class="content_div">
        <div class="calculator_box_div">
            <h4>Calculator</h4>
            <br>
            <br>

            <label for="body_weight_input">Body weight:</label>
                <input type="number" name="body_weight_input" id="body_weight_input" class="input_boxes" min="1" max="600" placeholder="1" value="1">
            <br>
            <br>
            <label for="height">Body Height:</label>
            <input type="number" name="height" id="height" class="input_boxes" min="1" max="300" placeholder="1" value="1">
            <br>
            <br>
            <button class="submit_button" id="submit_calc_data">Calculate--></button>
        </div>
        <div id="result_box">
            <h4>Result</h4>
            <br>
            <h5 id="bmi_result"></h5>
        </div>
    </div>
</body>
</html>